.App {
  text-align: center;
}

.custom-text {
  /* font-family: Roboto,tahoma,arial,sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2; */
  font-size: 42px;
  color: #000;
}

.custom-container {
  background-color: #fff; /* Замените #yourColor на желаемый цвет */
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Выравнивание элементов по краям контейнера */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
}

.bordered-link {
  border: 2px solid #000; /* Задайте цвет рамки */
  padding: 5px 10px; /* Добавьте внутренний отступ для удобства чтения */
  margin-left: 10px; /* Добавьте отступ слева для разделения ссылок */
  border-radius: 5px; /* Скругление углов рамки */
 }
 
 .nav-links {
  display: flex;
  justify-content: space-between; /* Распределение пространства между элементами */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
 }
 

/* .react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 12rem; 
  margin-top: 1rem;
  justify-content: center;
  cursor: pointer;
  position: relative;
  padding: 0.5rem 1rem;
  margin-top: 0;
  margin-right: 0;
  border: none;
  align-items: flex-start;
 }
 
 .react-tabs__tab-panel {
  display: flex;
  flex-direction: column;
  margin-left: 12rem; 
  position: relative;
  justify-content: center;
  align-items: flex-start;
 } */
/* .course {
  display: flex;
  padding: 15px;
  border: 2px solid black;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
